body {
    padding-top: 54px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar {
margin-bottom: 20px;
}

.error-message {
    max-width: 200px;
    margin: auto;
    padding-top: 600px;
}

.post-body {
    white-space: pre-line;
}